#global-toast-container {
    pointer-events: none;
}

.toast_wrap {
    position: relative;
    margin-bottom: 10px;
    transform: translateY(30px);
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 16px 20px;
    color: #fff !important;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: all 0.3s ease;
    min-width: 200px;
    max-width: 80vw;
    pointer-events: auto;

    &_info {
        background-color: #5bc0de;
    }
    &_success {
        background-color: #54a159;
    }
    &_error {
        background-color: #d9534f;
    }
    &_warning {
        background-color: #f0ad4e;
    }

    span {
        margin-left: 8px;
    }
}
