@font-face {
  font-family: "iconfont"; /* Project id 4846422 */
  src: url('iconfont.woff2?t=1741767864899') format('woff2'),
       url('iconfont.woff?t=1741767864899') format('woff'),
       url('iconfont.ttf?t=1741767864899') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banben:before {
  content: "\e60a";
}

.icon-code:before {
  content: "\e667";
}

.icon-weizhi:before {
  content: "\e7a4";
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-heiyemoshi:before {
  content: "\e68f";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-baitian-qing:before {
  content: "\e672";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-empty:before {
  content: "\e6a6";
}

.icon-youxiang:before {
  content: "\e639";
}

